.notification {
    width: 368px;
    height: 98px;
    box-shadow: 0 0 7px 5px rgb(220, 219, 219);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "icon title time"
        "content content content";
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    animation: show-not infinite 1s linear;
    animation-delay: 6s;
}

@keyframes show-not {
    0% { bottom: 0rem; opacity: 0.95;}
    20% { bottom: 2rem; opacity: 0.8;}
    40% { bottom: 4rem; opacity: 0.6;}
    60% { bottom: 6rem; opacity: 0.4;}
    80% { bottom: 8rem; opacity: 0.2;}
    100% { bottom: 10rem; opacity: 0.1;}
}

.dis {
    opacity: 0.6;
}
.icon-size {
    width: 1.5rem;
    height: auto;
    grid-area: icon;
    padding: 1rem;
}
.title {
    font-weight: 800;
    grid-area: title;
    padding-top: 1rem;
    color: #4E4E84;
    text-shadow: azure 1px 1px 2px;
}
.time {
    color: whitesmoke;
    grid-area: time;
    padding-top: 1rem;
}
.content {
    grid-area: content;
}